PORT=5000
FRONTEND_ORIGIN=http://localhost:5173

CONTACT_RECEIVER=muhammadsajidrajput20@gmail.com

# Gmail SMTP example
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_FAMILY=4
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-gmail-app-password
FROM_EMAIL=your-email@gmail.com
